<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
    <div class="resultContainer">
        <h1><%= verdict %></h1>
        <p>UV currently : <%=current_uv %></p>
        <p>Peak UV Today : <%=highest_uv_today%></p>
    </div>
    <a href="/"><button class="homeBtn">HOME</button></a>
    </div>
</body>
</html>